* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: #fff;
  padding: 40px 0;
}

.main {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.margin-header {
  margin-bottom: 24px;
}

h2 {
  text-align: center;
  font-weight: 100;
}
